<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form class="create-form">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="new-order" NunitoSans-label="Sizing example input"
                    NunitoSans-describedby="inputGroup-sizing-default" placeholder="Order a burger...">
                <span><button type="submit" id="add">New Order</button></span>
            </div>
        </form>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body" id="header">
                <h6>Ordered</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {{#each burger}}
                {{#unless ate}}
                <p class="burgers">{{this.name}}</p>
                <button type="button" class="btn-eat" id={{this.id}} data-ate={{this.ate}}>Serve</button>
                <button type="button" class="btn-delete" data-del={{this.id}}>Cancel Order</button>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>

<div class="col-md-5">
    <div class="card">
        <div class="card-body" id="header">
                <h6>Served</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {{#each burger}}
            {{#if ate}}
            <p class="burgers">{{this.name}}</p>
            <button type="button" class="btn-eat" id={{this.id}} data-ate={{this.ate}}>Return</button>
            <button type="button" class="btn-delete" data-del={{this.id}}>Eat</button>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="col-md-1">
</div>
{{!-- <script>
    $(function() {

    // Button for making a new order
        $("#add").on("click", function(event) {
        event.preventDefault();

        var newOrder = $("#new-burger").val().trim();

        $.ajax("/api/create/" + newOrder, {
            type: "POST"
        }).then(
            function() {
            console.log("ordered");
            location.reload();
            }
        );
    });

    // Order filled 
    $(".eat").on("click", function(event) {
        event.preventDefault();
        console.log("clicked")
        var id = $(this).attr("id");
        var newOrderFilled = $(this).attr("data-ate");
        console.log(newOrderFilled);
    
    $.ajax("/api/change/" + newOrderFilled + "/" + id, {
        type: "PUT"
      }).then(
        function() {
        }
      );
      location.reload();
    });

    // Take off filled order 
    $(".delete").on("click", function(event) {
        event.preventDefault();
        var id = $(this).attr("data-del");
    
        $.ajax("api/delete/" + id, {
          type: "DELETE"
        }).then(
          function(data) {
          }
        );
        location.reload();
      });
});
</script> --}}